
body
{
    background-color:white;
}
hr
{
    border-style: dotted none none none;
    align-self: center;
    background-color: white;
    border-color: grey;
    height: 0;
    border-width: 7px;
    width: 15%;
}
h1
{
    color: grey;
}
h3
{
    color: grey;
}
td
{
    color: grey;
}